:root {
    --bg-color: #fff;
    --header-color: #57C962;
    --border-color:#808080b4;
    --color-font: #49AA52;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-font);
}
body{
    background-color: var(--bg-color);
    width: 100vw;
}
header{
    background-color: var(--header-color);
    display: flex;
    width: 100%;
    align-items: center;
}
img#logo{
    max-width: 20vw;
    min-width: 150px;
    height: auto;
}
ul{
    margin: auto;
    width: auto;
}
li{
    list-style: none;
    display: inline-flex;
    margin-right: 5vw;
}
ion-icon#perfil{
    font-size: clamp(1.7em, 3em, 4em);
    margin-right: 20px;
    color: var(--bg-color);
    margin-top: 5px;
    border-radius: 50%;
}
ion-icon#perfil:hover{
    color: var(--header-color);
    background-color: var(--bg-color);
    transition: .3s;
}
header ul li a{
    padding: 10px;
}
header ul li a:hover{
    transition: .5s;
    box-shadow: -3px 3px 15px rgba(0, 0, 0, 0.24);
}
a{
    text-decoration: none;
    color: var(--bg-color);
}
h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}
h2{
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}
section{
    display: flex;
}
main p{
    margin-top: 20px;
    text-align: center;
}
#login, #dados-pessoais, #dados-acesso{
    width: 50%;
    padding: 10px;
    border-right: solid 1px var(--border-color);
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
#entrar-btn{
    margin-top: 20px;
}
#entrar-btn, #criar-btn,#salvar-btn{
    background: var(--header-color);
    border: none;
    padding: 5px;
    min-width: 150px;
    border: solid .8px var(--header-color);
    color: var(--bg-color);
    position: relative;
    overflow: hidden;
    max-width: 400px;
    width: 80%;
    padding: 10px;
}
#entrar-btn:hover, #criar-btn:hover, #finalizar-cadastro:hover, #salvar-btn:hover{
    background: var(--bg-color);
    color: var(--header-color);
    transition: .5s;
    cursor: pointer;
}
#senha, #user{
    max-width: 400px;
    width: 80%;
    padding: 15px;
    border: .5px solid var(--border-color);
    min-width: 150px;
    margin-top: 20px;
    color: black;
}
#esqueceu_senha{
    text-decoration: underline;
    font-size: .9em;
    margin-top: 20px;
    color: var(--border-color);
}
p{
    text-align: center;
}
#cadastro{
    text-align: center;
    width: 50%;
    margin-top: 20px;
}
#criar-btn{
    margin-top: 20px;
}
#txt-pq-doar{
    width: 60vw;
    margin: 20px auto 0px auto;
}
img#img-pq-doar{
    max-width: 35vw;
    height: auto;
    text-align: center;
}
main div{
    text-align: center;
}

img#img-entenda{
    max-width: 35vw;
    margin-left: 5%;
}
main#body-entenda{
    display: flex;
}
span{
    background-color:#f5f5f5 ;
    width: 50vw;
    align-items: center;
    margin-top: 7vw;
    margin-left: 7vw;
    border-radius: 20px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.13);
    display: inline;
}
#buttonsDoaOng{
    margin-top: 50px;
}
#btn-doador, #btn-ong{
    background: var(--header-color);
    min-width: 10vw;
    border: solid 1px var(--header-color);
    color: var(--bg-color);
    max-width: 30vw;
    width: 80%;
    padding: 10px;
}
#btn-doador:hover, #btn-ong:hover{
    background: var(--bg-color);
    color: var(--header-color);
    transition: .5s;
    cursor: pointer;
}
#ou{
    width: 30px;
    margin: 5px auto;
}
#main-cadastro, #centro-cadastro-doacao{
    flex-direction: column;
    display: flex;
    max-width: 25vw;
    margin: auto;
    background-color: #ececec;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #d8d6d6;
}
.input-cadastro{
    margin-bottom: 15px;
    height: 3vw;
    width: 100%;
    border: 1px solid #d1d1d1;
}
#finalizar-cadastro{
    background: var(--header-color);
    border: none;
    padding: 5px;
    min-width: 150px;
    border: solid .8px var(--header-color);
    color: var(--bg-color);
    position: relative;
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    padding: 10px;
}
#descricao-produto{
    margin-bottom: 15px;
    min-width: 100%;
    max-width: 100%;
    border: 1px solid #d1d1d1;
}
#header2{
    padding: 10px;
    background-color: #e9e9e9;
}
#perfil-header2{
    font-size: 50px;
}
.input-atualizar{
    display: inline;
    flex-direction: column;
    width: 40vw;
    margin-bottom: 10px;
    height: 3vw;
    border: 1px solid #d1d1d1;
}
#salvar-btn{
    margin: auto;
    width: 50vw;
}